@use "base"

$bg-sidebar: #1f1f23
$text-gray: #949494
$active-bg: #f8f4f0
$active-text: #1f1f23
$transition: 0.3s ease

.app-layout
    display: flex
     min-height: 100vh

.app-content
    flex-grow: 1
    padding: 32px
    overflow-y: auto